/* general arrangements, variables & etc*/

/* colors */

$shadow: rgb(217, 217, 217);
$logo: rgb(48, 82, 144);
$background: rgb(250, 250, 250);
$input: white;
$todoHover: rgb(102, 173, 87);
$text: rgba(1, 28, 36, 0.788);
$checkB: rgba(1, 36, 21, 0.788);
$deleteB: rgba(36, 1, 14, 0.788);
$check: rgba(1, 28, 36, 0.3);

@mixin flex($direction, $align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* header */

.mobile-logo {
  display: none;
}

.main-head {
  min-height: 10vh;
  box-shadow: 0px 0px 5px $shadow;
  @include flex(row, center, center);
  margin-bottom: 1rem;
  position: sticky;
  background: white;
  top: 0;
  left: 0;
}

.todo-form {
  min-width: 40%;
  margin: 0% auto 0% 3rem;
  padding: 2rem 0rem;
  @include flex(row, center, space-evenly);
  font-size: 2rem;
}

#logo-text {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  color: $logo;
  cursor: pointer;
}

.todo-input-and-button {
  @include flex(row, center, space-evenly);
  flex: 1 1 40rem;
  background: $background;
  border: $shadow solid;
  border-radius: 0.5rem;
  margin-left: 2rem;
}

.todo-input {
  flex: 1 1 40rem;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  transition: all 0.2s ease;
}

*:focus {
  outline: none;
}

.todo-button {
  border: none;
  background: $input;
  color: $shadow;
  font-size: 2rem;
  padding: 1.2rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.todo-button:hover {
  background: $todoHover;
  color: $input;
}

/* to do form */

.todo-container {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  min-height: 90vh;
  min-width: 40%;
  margin: 0 5% auto 0;
}

input {
  font-family: "Playfair Display", serif;
}

.todo-item {
  box-shadow: 0px 0px 5px $shadow;
  max-width: 60rem;
  margin: 2rem;
  color: $text;
  border-radius: 0.5rem;
  @include flex(row, center, space-evenly);
  transition: all 0.5s ease-in-out;

  h2 {
    flex: 1 1 40rem;
    padding: 0rem 2rem;
  }

  button {
    border: none;
    background: $input;
    color: $text;
    padding: 2rem 2rem;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    i {
      pointer-events: none;
    }
  }

  .checkB:hover {
    background: $checkB;
    color: $input;
  }
  .deleteB:hover {
    background: $deleteB;
    color: $input;
  }
}

/* responsiveness */

/* for iphones & ipads*/
@media screen and (max-width: 458px) {
  #logo-text {
    display: none;
  }
  .todo-form {
    margin: auto;
  }

  .todo-input {
    font-size: 1.8rem;
    flex: 1 1 20rem;
  }

  .todo-input-and-button {
    max-width: 40rem;
  }

  .todo-input-and-button {
    margin: 1rem;
  }
  .todo-container {
    margin: auto;
  }

  .todo-item {
    font-size: 1rem;
    margin: 2rem 5rem;
    button {
      font-size: 1rem;
    }
  }

  .mobile-logo {
    display: block;
    position: sticky;
    bottom: 0px;
    left: 0px;
    min-height: 10vh;
    @include flex(row, center, center);
    backdrop-filter: blur(1px);
  }
  #logo-text-mobile {
    font-size: 3rem;
    font-family: "Dancing Script", cursive;
    color: $logo;
    cursor: pointer;
    background: $shadow;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin: 2rem 0rem;
  }
}

/* animations */

@keyframes shake {
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translate(5px);
  }
  75% {
    transform: translate(-2.5px);
  }
  100% {
    transform: translate(2.5px);
  }
}

.shake {
  animation: shake 0.5s ease;
}

.delete {
  opacity: 0;
}

.check {
  text-decoration: line-through;
  color: $check;
}

/* for night mode */

.darkmode-layer,
.darkmode-toggle {
  z-index: 500;
}
